In [57]:
# Section A: Basic Programs

# Q1. Find second largest number without sort()
lst = [10, 20, 40, 30, 50, 40]
largest = second = float('-inf')
for num in lst:
    if num > largest:
        second = largest
        largest = num
    elif largest > num > second:
        second = num
print(second)

40

In [58]:
# Q2. Remove duplicates and return sorted list
lst = [4, 2, 5, 2, 3, 4, 1, 5]
unique = []
for num in lst:
    if num not in unique:
        unique.append(num)
for i in range(len(unique)):
    for j in range(i + 1, len(unique)):
        if unique[i] > unique[j]:
            unique[i], unique[j] = unique[j], unique[i]
print(unique)

[1, 2, 3, 4, 5]

In [59]:
#Q3Sum and average of list
lst = [10, 20, 30, 40, 50]
sum_val = 0
for num in lst:
    sum_val += num
avg = sum_val / len(lst)
print(sum_val)
print(avg)

150
30.0

In [60]:
#Q4Prime check
num = 29
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
else:
    print("Not Prime")

Prime

In [61]:
# Q5. Count vowels, consonants, digits, special chars
s = "Hello World! 123"
vowels = consonants = digits = special = 0
for ch in s:
    if ch.isalpha():
        if ch.lower() in 'aeiou':
            vowels += 1
        else:
            consonants += 1
    elif ch.isdigit():
        digits += 1
    else:
        special += 1
print(vowels)
print(consonants)
print(digits)
print(special)

3
7
3
3

In [62]:
# Q6. Even numbers 1 to 100
for i in range(1, 101):
    if i % 2 == 0:
        print(i, end=' ')
print()

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [63]:
# Q7. Multiplication table
num = int(input("Enter number: "))
for i in range(1, 11):
    print(num, 'x', i, '=', num * i)

Enter number:  878

878 x 1 = 878
878 x 2 = 1756
878 x 3 = 2634
878 x 4 = 3512
878 x 5 = 4390
878 x 6 = 5268
878 x 7 = 6146
878 x 8 = 7024
878 x 9 = 7902
878 x 10 = 8780

In [64]:
# Q8. Numbers divisible by 3 and 5
lst = []
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        lst.append(i)
print(lst)

[15, 30, 45, 60, 75, 90]

In [65]:
# Q9. Reverse of a number
num = int(input("Enter number: "))
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num = num // 10
print(rev)

Enter number:  7867

7687

In [66]:
# Q10. Frequency of each character
s = "banana"
freq = {}
for ch in s:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1
print(freq)

{'b': 1, 'a': 3, 'n': 2}

In [67]:
# Q11. First n primes
n = 10
count = 0
num = 2
while count < n:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num, end=' ')
        count += 1
    num += 1
print()

2 3 5 7 11 13 17 19 23 29

In [68]:
# Q12. Palindrome check
num = int(input("Enter number: "))
temp = num
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num = num // 10
if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter number:  768

Not Palindrome

In [69]:
# Q13. Count specific element in list
lst = [1, 2, 3, 2, 4, 2, 5]
element = 2
count = 0
for num in lst:
    if num == element:
        count += 1
print(count)

3

In [70]:
# Q14. Squares of even numbers 1-50
lst = []
for i in range(1, 51):
    if i % 2 == 0:
        lst.append(i ** 2)
print(lst)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [71]:
# Q15. Unique elements preserving order
lst = [1, 2, 2, 3, 4, 4, 5]
unique = []
for num in lst:
    if num not in unique:
        unique.append(num)
print(unique)

[1, 2, 3, 4, 5]

In [72]:
# Section B: Functions

# Q16. Function to check even or odd
def check_even_odd(num):
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")
check_even_odd(5)

Odd

In [73]:
# Q17. Cumulative sum of list
def cumulative_sum(lst):
    result = []
    total = 0
    for num in lst:
        total += num
        result.append(total)
    return result
print(cumulative_sum([1, 2, 3, 4, 5]))

[1, 3, 6, 10, 15]

In [74]:
# Q18. Recursive factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

In [75]:
# Q19. Fibonacci up to n terms
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=' ')
        a, b = b, a + b
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [76]:
# Q20. Check palindrome string
def is_palindrome(s):
    return s == s[::-1]
print(is_palindrome("madam"))

True

In [77]:
# Q21. Max and min from list
def max_min(lst):
    return max(lst), min(lst)
print(max_min([10, 20, 30, 40]))

(40, 10)

In [78]:
# Q22. Check pangram
def is_pangram(s):
    alphabets = 'abcdefghijklmnopqrstuvwxyz'
    for ch in alphabets:
        if ch not in s.lower():
            return False
    return True
print(is_pangram("The quick brown fox jumps over the lazy dog"))

True

In [79]:
# Q23. Primes in range
def primes_in_range(start, end):
    for num in range(start, end + 1):
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                break
        else:
            if num > 1:
                print(num, end=' ')
primes_in_range(10, 50)

11 13 17 19 23 29 31 37 41 43 47

In [80]:
# Q24. Count uppercase and lowercase
def count_case(s):
    upper = lower = 0
    for ch in s:
        if ch.isupper():
            upper += 1
        elif ch.islower():
            lower += 1
    return upper, lower
print(count_case("Hello World"))

(2, 8)

In [81]:
# Q25. Sum of digits
def sum_of_digits(num):
    total = 0
    while num > 0:
        total += num % 10
        num = num // 10
    return total
print(sum_of_digits(1234))

10

In [82]:
# Q26. Count words in sentence
def count_words(sentence):
    return len(sentence.split())
print(count_words("Hello world this is python"))

5

In [83]:
# Q27. Remove punctuation (fixed)
def remove_punctuation(s):
    punct = "!()-[]{};:'\"\\,<>./?@#$%^&*_~"
    result = ''
    for ch in s:
        if ch not in punct:
            result += ch
    return result

print(remove_punctuation("Hello!!! How are you??"))

Hello How are you

In [84]:
# Q28. GCD of two numbers
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
print(gcd(36, 60))

12

In [85]:
# Q29. Elements appearing more than once
def duplicates(lst):
    result = []
    for num in lst:
        if lst.count(num) > 1 and num not in result:
            result.append(num)
    return result
print(duplicates([1, 2, 2, 3, 4, 4, 5]))

[2, 4]

In [86]:
# Q30. Largest of three numbers
def largest(a, b, c):
    return max(a, b, c)
print(largest(10, 25, 15))

25

In [87]:
# Section C: String, List, Dict & Tuple Operations

# Q31. Sort words in sentence
sentence = "python is a powerful language"
words = sentence.split()
words.sort()
print(' '.join(words))

a is language powerful python

In [88]:
# Q32. Concatenate two dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [89]:
# Q33. Vowel count per word
sentence = "hello world amazing day"
words = sentence.split()
for word in words:
    count = 0
    for ch in word:
        if ch.lower() in 'aeiou':
            count += 1
    print(word, ":", count)

hello : 2
world : 1
amazing : 3
day : 1

In [90]:
# Q34. Tuple to list
tup = (1, 2, 3, 4, 5)
lst = list(tup)
print(lst)

[1, 2, 3, 4, 5]

In [91]:
# Q35. Remove whitespaces using function
def remove_whitespace(s):
    return s.replace(" ", "")
print(remove_whitespace("python is fun"))

pythonisfun

In [92]:
# Q36. Merge two lists as dictionary
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']
d = dict(zip(keys, values))
print(d)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [93]:
# Q37. Key with max value in dictionary
d = {'a': 10, 'b': 50, 'c': 30}
max_key = max(d, key=d.get)
print(max_key)

b

In [94]:
# Q38. Word frequency in string
sentence = "this is a test this is only a test"
words = sentence.split()
freq = {}
for word in words:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1
print(freq)

{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}

In [95]:
# Q39. Check if key exists
d = {'name': 'Alice', 'age': 25}
key = 'age'
if key in d:
    print("Exists")
else:
    print("Does not exist")

Exists

In [96]:
# Q40. Replace vowels with '*'
s = "hello world"
result = ''
for ch in s:
    if ch.lower() in 'aeiou':
        result += '*'
    else:
        result += ch
print(result)

h*ll* w*rld

In [97]:
# Section D: File Handling

# Q41. Read contents of file
try:
    # First, create the file if it doesn't exist
    with open('sample.txt', 'w') as f:
        f.write("This is a sample text file.\nIt contains multiple lines.\nYou can add more content as needed.")
    
    # Now read the file
    with open('sample.txt', 'r') as f:
        content = f.read()
        print(content)
except Exception as e:
    print(f"An error occurred: {e}")

This is a sample text file.
It contains multiple lines.
You can add more content as needed.

In [98]:
# Q42. Count words in file
with open('sample.txt', 'r') as f:
    content = f.read()
    words = content.split()
    print(len(words))

17

In [99]:
# Q43. Copy contents of one file to another
with open('sample.txt', 'r') as f1, open('copy.txt', 'w') as f2:
    content = f1.read()
    f2.write(content)

In [100]:
# Q44. Print lines > 50 chars
with open('sample.txt', 'r') as f:
    for line in f:
        if len(line.strip()) > 50:
            print(line.strip())

In [101]:
# Q45. Write list of strings to file
lines = ['Hello World', 'Python is fun', 'File handling in Python']
with open('output.txt', 'w') as f:
    for line in lines:
        f.write(line + '\n')

In [102]:
# Section E: Exception Handling

# Q46. Division by zero handling
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
    print(result)
except ZeroDivisionError:
    print("Cannot divide by zero!")

Enter numerator:  89798
Enter denominator:  8679

10.346583707800438

In [103]:
# Q47. Handle invalid user input
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Invalid input, please enter a number.")

Enter a number:  8789

You entered: 8789

In [104]:
# Q48. Handle file not found
try:
    with open('nonexistent.txt', 'r') as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found!")

File not found!

In [105]:
# Q49. Handle invalid list index
lst = [1, 2, 3, 4, 5]
try:
    print(lst[10])
except IndexError:
    print("Index out of range!")

Index out of range!

In [106]:
# Q50. Try-except-finally demo
try:
    num = int(input("Enter a number: "))
    print(100 / num)
except Exception as e:
    print("Error:", e)
finally:
    print("This block always runs.")

Enter a number:  788

0.12690355329949238
This block always runs.